@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100;0,300;0,500;0,600;1,100;1,200;1,400;1,500&display=swap");
.containder {
  background-color: white;
  padding: 10px 0;
  position: absolute;
  width: 30%;
  border-radius: 15px;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 0.1);
  display: flex;
  transition: height 1s, box-shadow 0.4s;
  flex-direction: column;
  gap: 15px;
}

.containder:hover {
  box-shadow: 0 2px 10px rgba(100, 100, 100, 0.4) !important;
}

.listing_row {
  margin-bottom: 3em;
  height: 22em;
}

.containder * {
  background-color: white;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
}

.first_in_row {
  left: 2.5%;
}

.second_in_row {
  left: 35%;
}

.third_in_row {
  right: 2.5%;
}

.containder_header {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.containder_header_title {
  z-index: 2;
  position: relative;
  height: 250px;
  width: 250px;
}

.element__img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
}

.containder_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.containder_text__title {
  display: flex;
  justify-content: center;
}
.containder_text__price {
  justify-content: center;
  display: flex;
}

.containder_text__info {
  z-index: 1000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}
.info_visible {
  max-height: 7em;
  opacity: 1;
}

.front_view {
  z-index: 40;
}

.another_view {
  z-index: 30 !important;
}

.back_view {
  z-index: 2;
}
