{% extends 'base.html' %}

{% block title %}
<title>Личный кабинет</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/itc-slider.css') }}"/>
<script src="{{ url_for('static', filename='js/itc-slider.js') }}" defer></script>
<style>
   .itc-slider-item {
        flex: 0 0 25%;
    }
   .targetff {
    font-size: 14pt;
    }
    .itc-slider__item {
      flex: 0 0 50%;
      max-width: 50%;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      font-size: 7rem;
    }
    .card{
        margin-left: 1em !important;
        margin-right: 1em !important;
    }
    .heart-none {opacity:0}
.heart-visible {opacity: 1}
.fa-solid {
    animation: vis-heart .4s;
}
.fa-regular {
    animation: vis-heart-2 .4s;
}
.red {
  color: rgb(240, 0, 0) !important;
}
.fa-heart:hover {
    transform: scale(1.4);
    color: rgb(240, 0, 0);
}
@keyframes vis-heart {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1.4);
        }
}
@keyframes vis-heart-2 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1.4);
        }
}
.dj_lubov {
    border-radius: 15px;
}
.for_vendor_form {
    border-radius: 12px;
    transition: all 0.5s;
    height: 100%;
    background-color: white;
    padding: 2em;
}
.for_vendor_form:hover {
    box-shadow: 0 5px 10px gray !important;
}
.itc-slider-btn-prev::before {
  background-image: url(static/svg/left-arrow-svgrepo-com.svg);
  filter: invert(49%) sepia(3%) saturate(16%) hue-rotate(340deg) brightness(94%) contrast(81%);
  transition: all .3s;
}

.itc-slider-btn-next::before {
  background-image: url(static/svg/right-arrow-svgrepo-com.svg);
  filter: invert(49%) sepia(3%) saturate(16%) hue-rotate(340deg) brightness(94%) contrast(81%);
  transition: all .3s;
}
.itc-slider-btn-next:hover::before {
    filter: invert(100%) sepia(99%) saturate(4%) hue-rotate(258deg) brightness(106%) contrast(100%) !important;
}
.itc-slider-btn-prev:hover::before {
    filter: invert(100%) sepia(99%) saturate(4%) hue-rotate(258deg) brightness(106%) contrast(100%) !important;
}
.itc-slider-wrapper {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0) !important;
}
.fa-heart {
    cursor: pointer;
    color: rgba(60, 60, 60, 1);
    transition: transform 0.2s, opacity 0.3s, color 0.5s;
    transform: scale(1.4);
    position: absolute;
    top: 0.4em;
    right: 0.6em;
}
.card > li { 
  text-align:center;
}
.center-screen {
  font-size: 20px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100%;
}
</style>

{% endblock %}

{% block body %}
<div class="container">    
{% if user.status == 'admin' %}
<link href="static/css/AdminDynamicSelect.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="static/css/PopUpPhotos.css">
<h1 style="margin-bottom: .5em;">Администрация МОХ</h1>
<h4 class="mb-4">Управление базой товаров</h4>
<div style="display: flex; gap: 1em; flex-direction: column;">
    <div>
        <a class="me-2 btn btn-outline-primary" href="/create" style="font-size: 20px">Добавить товар</a>
        <a class="me-2 btn btn-outline-primary" href="/delete" style="font-size: 20px">Удалить товар</a>
        <a class="me-2 btn btn-outline-primary" href="/change" style="font-size: 20px">Изменить товар</a>
    </div>
    <div>
        <a class="me-2 btn btn-outline-primary" href="/category" style="font-size: 20px">Добавить категорию</a>
        <a class="me-2 btn btn-outline-primary" href="/category_delete" style="font-size: 20px">Удалить категорию</a>
        <a class="me-2 btn btn-outline-primary" href="/category_change" style="font-size: 20px">Изменить категорию</a>
    </div>
    <div>
        <a class="me-2 btn btn-outline-primary" href="/ad_create" style="font-size: 20px">Добавить рекламу</a>
        <a class="me-2 btn btn-outline-primary" href="/ad_delete" style="font-size: 20px">Удалить рекламу</a>
    </div>
</div>
<h4 style="margin-top: 1em;">Заявки продавцов</h4>
<h5 style="margin-top: 1em; margin-bottom: 2em; ">Заявки на торговлю</h5>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 2%; row-gap: 2%;">
    {% for i in reqs_data %}
        {% set ven = i[0] %}
        {% set prod = i[1] %}
        {% set req = i[2] %}
    <div class="grid-item">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
        <div class="card-header py-3">
            {% if ven.title %}
            <p style="font-size: 20px" class="my-0 fw-normal">Заявка на торговлю от {{ ven.title }}</p>
            {% else %}
            <p style="font-size: 20px" class="my-0 fw-normal">Заявка на торговлю от {{ ven.name }}</p>
            {% endif %}
        </div><br>
    <form id="admin_trading{{ req.id }}" method="post" enctype="multipart/form-data">
        <select id="req_id" name="req_id" hidden required>
            <option value="{{ req.id }}">{{ req.id }}</option>
        </select>
        <div class="form-floating">
            <input type="text" class="form-control" name="fio_to_access"
                   id="fio_to_access" placeholder="ФИО" required readonly
                   value="{{ ven.surname + ' ' + ven.name + ' ' + ven.patronymic }}"><br>
            <label for="fio_to_access">ФИО продавца</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="email_to_access" id="email_to_access"
                   placeholder="email" required readonly value="{{ ven.email }}"><br>
            <label for="email_to_access">Электронная почта продавца</label>
        </div>
        <select class="form-control" id="product_to_access" name="product_to_access"
                 data-placeholder="product_to_access" data-dynamic-select required>
            <option value="{{ prod.id }}" class="form-control"
                    data-img="static/img/{{ prod.main_image }}">{{ prod.title }}</option>
        </select><br>
        <select id="hidden" name="hidden" hidden required>
            <option value="{{ prod.id }}">{{ prod.title }}</option>
        </select>
        <div class="form-floating">
            <input type="text" class="form-control" name="price_to_access" id="price_to_access"
                   placeholder="Цена в рублях" required readonly value="{{ req.price }}"><br>
            <label for="price_to_access">Цена (руб.)</label>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            {% set photos = req.photos.strip('[').strip(']').replace("'", "").replace(",", "").split() %}
            {% for photo in photos %}
            <div class="gallery-image">
                <img src="static/img/{{ photo }}" alt="" class="image">
            </div>
            {% endfor %}
        </div><br>
        <button class="submit btn btn-success" type="button">Принять заявку</button>
        <button class="reject btn btn-danger" type="button">Отклонить заявку</button>
    </form>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>
    <script>
        $(function() {
            $('.submit').on('click', function(){
                var frmID = $(this).closest("form").attr('id');
                var frmDetails = $('#'+frmID);
                var data1 = $(frmDetails).serialize();
                $.ajax({
                    data : data1,
                    type : 'POST',
                    url : '/submit'
                });

                $(this).preventDefault

                $(this).closest(".grid-item").fadeOut(800, function() {
                    $(this).closest(".grid-item").remove();
                });
            });
            return false;
        });

        $(function() {
            $('.reject').on('click', function(){
                var frmID = $(this).closest("form").attr('id');
                var frmDetails = $('#'+frmID);
                var data1 = $(frmDetails).serialize();
                $.ajax({
                    data : data1,
                    type : 'POST',
                    url : '/reject'
                });

                $(this).preventDefault

                $(this).closest(".grid-item").fadeOut(800, function() {
                    $(this).closest(".grid-item").remove();
                });
            });
            return false;
        });
    </script>
    <script src="static/js/DynamicSelect.js"></script>
<h5 style="margin-bottom: 2em; ">Предложения по добавлению товаров</h5>
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 2%; row-gap: 2%;">
    {% for i in sug_data %}
        {% set ven = i[0] %}
        {% set sug = i[1] %}
    <div class="grid-item">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-body">
        <div class="card-header py-3">
            {% if ven.title %}
            <p style="font-size: 20px" class="my-0 fw-normal">Предложение от {{ ven.title }}</p>
            {% else %}
            <p style="font-size: 20px" class="my-0 fw-normal">Предложение от {{ ven.name }}</p>
            {% endif %}
        </div><br>
    <form id="admin_trading{{ sug.id }}" method="post" enctype="multipart/form-data">
        <select id="sug_id" name="sug_id" hidden required>
            <option value="{{ sug.id }}">{{ sug.id }}</option>
        </select>
        <div class="form-floating">
            <input type="text" class="form-control" name="fio_to_access2"
                   id="fio_to_access2" placeholder="ФИО" required readonly
                   value="{{ ven.surname + ' ' + ven.name + ' ' + ven.patronymic }}"><br>
            <label for="fio_to_access2">ФИО продавца</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="email_to_access2" id="email_to_access2"
                   placeholder="email" required readonly value="{{ ven.email }}"><br>
            <label for="email_to_access2">Электронная почта продавца</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" name="title" id="title"
                   placeholder="title" required readonly value="{{ sug.title }}"><br>
            <label for="title">Предложенное название</label>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            {% set photos = sug.photos.strip('[').strip(']').replace("'", "").replace(",", "").split() %}
            {% for photo in photos %}
            <div class="gallery-image">
                <img src="static/img/{{ photo }}" alt="" class="image">
            </div>
            {% endfor %}
        </div><br>
        <button class="submit2 btn btn-success" type="button">Принять заявку</button>
        <button class="reject2 btn btn-danger" type="button">Отклонить заявку</button>
    </form>
    </div>
    </div>
    </div>
    {% endfor %}
    </div>
<script>
        $(function() {
            $('.submit2').on('click', function(){
                var frmID = $(this).closest("form").attr('id');
                var frmDetails = $('#'+frmID);
                var data1 = $(frmDetails).serialize();
                $.ajax({
                    data : data1,
                    type : 'POST',
                    url : '/submit2'
                });

                $(this).preventDefault

                $(this).closest(".grid-item").fadeOut(800, function() {
                    $(this).closest(".grid-item").remove();
                });
            });
            return false;
        });

        $(function() {
            $('.reject2').on('click', function(){
                var frmID = $(this).closest("form").attr('id');
                var frmDetails = $('#'+frmID);
                var data1 = $(frmDetails).serialize();
                $.ajax({
                    data : data1,
                    type : 'POST',
                    url : '/reject2'
                });

                $(this).preventDefault

                $(this).closest(".grid-item").fadeOut(800, function() {
                    $(this).closest(".grid-item").remove();
                });
            });
            return false;
        });
    </script>
<br>

{% elif user.status == 'vendor' %}
<link href="static/css/DynamicSelect.css" rel="stylesheet" type="text/css">
<h1>Личный кабинет</h1><br>
    <div style="display: grid; grid-template-columns: 2fr 3fr; gap: 5%; margin-left: 5%; margin-right: 5%;">
    <div>
        {% if vendor.logo %}
            <img class="dj_lubov" src="static/img/{{ vendor.logo }}" style="max-width: 100%">
        {% else %}
            <img class="dj_lubov" src="static/img/570238.png" style="max-width: 100%">
        {% endif %}
    </div>

    <div>
        <h3 class="my-0 fw-normal">{{ vendor.title }}</h3><br>
        <h4 class="my-0 fw-normal">{{ vendor.surname + ' ' + vendor.name + ' ' + vendor.patronymic }}</h4><br>
        <form id="vendor_change" method="post" enctype="multipart/form-data">
            <div class="form-floating">
                {% if vendor.title %}
                <input type="text" class="form-control" value="{{ vendor.title }}"
                       name="new_title" id="new_title" placeholder="Имя"><br>
                <label for="new_title">Изменить название</label>
                {% else %}
                <input type="text" class="form-control" value="{{ vendor.title }}"
                       name="new_title" id="new_title2" placeholder="Имя"><br>
                <label class="targetff" for="new_title2">Добавить название</label>
                {% endif %}
            </div>
            {% if vendor.logo %}
            <label class="targetff" for="new_logo">Изменить логотип:</label><br><br>
            <input type="file" accept="image" name="new_logo" id="new_logo"><br><br>
            {% else %}
            <label class="targetff" for="new_logo">Добавить логотип:</label><br><br>
            <input type="file" accept="image" name="new_logo" id="new_logo2"><br><br>
            {% endif %}
            <button class="btn btn-outline-success" type="submit">Изменить</button>
        </form>
    </div>
    </div>
    <h3 style="margin-top: 1.5em">Торговля</h3><br>
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 2em;">
    <div class="for_vendor_form">
    <h4>Заявка на торговлю товаром</h4><br>
    <p class="targetff">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Justo laoreet sit amet cursus sit amet dictum sit. Facilisi etiam dignissim diam quis enim lobortis. Tristique nulla aliquet enim tortor at auctor urna nunc. At consectetur lorem donec massa sapien. Dictum non consectetur a erat nam at lectus. Mattis enim ut tellus elementum sagittis vitae. Sodales ut etiam sit amet nisl purus. Rhoncus aenean vel elit scelerisque mauris pellentesque. At consectetur lorem donec massa sapien faucibus. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Pellentesque dignissim enim sit amet venenatis urna cursus eget.
    </p><br>
    <form id="vendor_trading" method="post" enctype="multipart/form-data">
         <select class="form-control" id="product_to_request" name="product_to_request"
                 data-placeholder="Выберите товар" data-dynamic-select required>
            {% for el in data %}
            <option value="{{ el.id }}" class="form-control"
                    data-img="static/img/{{ el.main_image }}">{{ el.title }}</option>
            {% endfor %}
        </select><br>
        <div class="form-floating">
            <input type="text" class="form-control" name="price" id="price"
                   placeholder="Цена в рублях" required><br>
            <label for="price">Введите цену (руб.)</label>
        </div>
        <label class="targetff" for="images">Добавьте фотографии товара:</label><br><br>
        <input type="file" multiple="multiple" required accept="image" name="images[]" id="images"><br><br>
        <button class="btn btn-outline-success" type="submit">Оплатить и отправить заявку</button>
    </form></div>
    <script src="static/js/DynamicSelect.js"></script>
    <div class="for_vendor_form"><h4>Заявка на добавление товара</h4><br>
    <p class="targetff">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Justo laoreet sit amet cursus sit amet dictum sit. Facilisi etiam dignissim diam quis enim lobortis. Tristique nulla aliquet enim tortor at auctor urna nunc.
    </p><br>
    <form id="vendor_product" method="post" enctype="multipart/form-data">
        <div class="form-floating">
            <input type="text" class="form-control" name="product_title" id="product_title"
                   placeholder="Название" required><br>
            <label for="product_title">Введите название</label>
        </div>
        <label class="targetff" for="images2">Добавьте изображения товара:</label><br><br>
        <input required type="file" multiple="multiple" accept="image" name="images2[]" id="images2"><br><br>
        <button class="btn btn-outline-success" type="submit">Отправить заявку</button>
    </form></div></div><br><br><br>
    <h3>Мессенджер</h3><br>

{% else %}

<h1>Личный кабинет</h1><br>
<h3>История просмотра</h3><br>
<div class="container for_inner">
    {% if recent %}
    <div class="itc-slider" data-slider="itc-slider" data-loop="false">
        <div class="itc-slider-wrapper">
          <div class="itc-slider-items">
            {% for el in recent %}
            <div class="itc-slider-item">
                <div class="card mb-4 rounded-3 shadow-sm" id="prod{{ el.id }}">
                    <div class="card-header py-3">
                      <h5 class="my-0 fw-normal">{{ el.title }}</h5>
                    </div>
                    <div class="card-body">
                      <div style="position:relative">
                          {% if el.id in liked %}
                          <i class="fa-solid fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
                          <input hidden="hidden" type="checkbox" class="heart-checkbox" checked>
                          {% else %}
                          <i class="fa-regular fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
                          <input hidden="hidden" type="checkbox" class="heart-checkbox">
                          {% endif %}
                          <a href="/product/{{ el.id }}"><img class="img-fluid" src="static/img/{{ el.main_image }}" alt="{{ el.main_image }}"></a>
                      </div>
                      <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ el.description }}</li>
                      </ul>
                    </div>
                  </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Кнопки для перехода к предыдущему и следующему слайду -->
        <button class="itc-slider-btn itc-slider-btn-prev"></button>
        <button class="itc-slider-btn itc-slider-btn-next"></button>
    </div>
    {% else %}
    <div class="center-screen">История просмотра пока пуста</div>
    {% endif %}
</div>
<br>
<h3>Мессенджер</h3><br>

<script>
    $(document).ready(() => { // DOM готов к взаимодейтсвию
        if ($('.itc-slider-item').length < 5) {$('.itc-slider-btn-next').css('display', 'none')}
    })
    $('.card').on('mouseenter', function() {
        i = $('.fa-heart', $(this));
        i.toggleClass('heart-none heart-visible');
    });
    $('.card').on('mouseleave', function() {
        i = $('.fa-heart', $(this));
        i.removeClass('red');
        i.toggleClass('heart-none heart-visible');
    });
    $('.fa-heart').on('click', function(){
      parent = $(this).closest('div')
      checkbox = $('.heart-checkbox', parent)
      if (checkbox.is(':checked')){
          checkbox.prop('checked', false);
        $.ajax({
        data : {  liked_id: $(this).data('like'), 
                  liked_price: $(this).data('price'),
                  action: "dislike"},
        type : 'POST',
        url : '/kek'
      });
    } else {
        checkbox.prop('checked', true);
      $(this).addClass('red');
      $.ajax({
        data : {  liked_id: $(this).data('like'), 
                  liked_price: $(this).data('price'),
                  action: "like"},
        type : 'POST',
        url : '/kek'
      });
    }
    $(this).toggleClass('fa-solid fa-regular');
    count_liked()
    })
</script>
{% endif %}
</div>
{% endblock %}

