{% extends 'base.html' %}

{% block title %}
<title>Реклама</title>
<style>
    .flex-try {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .form_try {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        align-items: center;
        height: 50%;
        width: 70%;
        background-color: white;
        border-radius: 12px;
        gap: 1em;
    }
    .form-floating {
        max-height: 100%;
    }
    .wrapper_for_ad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .form_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
    }
    .form_try > div {
        width: 80%;
    }
    .form_buttons > * {
        width: 50%;
        font-size: 1.5vw;
        padding-right: 0;
        padding-left: 0;
    }
</style>
{% endblock %}

{% block body %}
<div class="wrapper_for_ad">
<h2>Добавление рекламы</h2>
<div class="flex-try">
    <form class="form_try" method="post" enctype="multipart/form-data">
        <div class="form-floating" style="width: 80%;">
            <input type="text" class="form-control" name="title1" id="title" placeholder="Название" required>
            <label for="title">Название</label>
        </div>
        <div style="width: 80%;">
            <input class="form-control" type="file" id="formFile" name="media" accept="video/*, image/*" required>
        </div>
        <div class="form_buttons">
            <button type="submit" class="btn btn-outline-success">Добавить</button>
            <a class="btn btn-outline-primary" href="/account">Вернуться</a>
        </div>
    </form>
</div>
</div>
{% endblock %}