{% extends 'base.html' %}

{% block title %}
<link href="{{url_for('static', filename='css/DynamicSelect.css')}}" rel="stylesheet" type="text/css">
<title>Реклама</title>
<style>
    .flex-try {
        display: flex;
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
    }
    .form_try {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        align-items: center;
        height: 50%;
        width: 70%;
        background-color: white;
        border-radius: 12px;
        gap: 1em;
    }
    .form-floating {
        max-height: 100%;
    }
    .wrapper_for_ad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .form_buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10%;
    }
    .form_try > div {
        width: 80%;
    }
    .form_buttons > * {
        width: 50%;
        font-size: 1.5vw;
        padding-right: 0;
        padding-left: 0;
    }
</style>
{% endblock %}

{% block body %}
<div class="wrapper_for_ad">
<h2>Удаление рекламы</h2>
<div class="flex-try">
    <form class="form_try" method="post" enctype="multipart/form-data">
        <div class="form-floating">
            <select class="form-control" id="ad_to_remove" name="ad_to_remove"
                 data-placeholder="Выберите товар" data-dynamic-select required>
            {% for el in ads %}
            <option value="{{ el.id }}" class="form-control"
                    data-img="static/ads/{{ el.frame }}">{{ el.title }} ({{ el.format }})</option>
            {% endfor %}
            </select>
        </div>
        <div class="form_buttons">
            <button type="submit" class="btn btn-outline-danger">Удалить</button>
            <a class="btn btn-outline-primary" href="/account">Вернуться</a>
        </div>
    </form>
</div>
</div>
<script src="static/js/DynamicSelect.js"></script>
{% endblock %}