{% extends 'base.html' %}

{% block title %}
<title>Изменение товара</title>
<link href="{{url_for('static', filename='css/DynamicSelect.css')}}" rel="stylesheet" type="text/css">
<script src="static/js/virtual-select.js"></script>
<link href="static/css/virtual-select.min.css" rel="stylesheet" type="text/css">
<link href="static/css/MyChoices.css" rel="stylesheet" type="text/css">
<style>
    .dynamic-select-header-placeholder {
        font-size: 16px;
    }
    .dynamic-size {
        object-fit: contain !important;
        width: 100% !important;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Изменение товара</h1><br>
    <form id="myForm" method="post" enctype="multipart/form-data">
        <h3 style="font-weight: normal; margin-bottom: 1em;">Выберите товар</h3>
        <select class="form-control" id="product_to_change" name="product_to_change"
                 data-placeholder="Выберите товар" data-dynamic-select required>
            {% for el in data %}
            <option value="{{ el.id }}" class="form-control"
                    data-img="static/img/{{ el.main_image }}">{{ el.title }}</option>
            {% endfor %}
        </select>
        <div id="mainList" style="display: flex; flex-direction: column; gap: 1em; margin-top: 1em; margin-bottom: 1em;">
        <div class="form-floating">
            <input type="text" class="form-control" value="{{ data[0].title }}"
                   name="title" id="title" placeholder="Название" required>
            <label for="title">Название</label>
        </div>
        <div id="example-select"></div>
        {% for el in cats %}
        <input class="options_for_select" hidden="hidden" id="{{ el.id }}" value="{{ el.title }}">
        {% endfor %}
        <script src="static/js/MyChoices.js"></script>
        <div class="form-floating">
            <input type="text" class="form-control" value="{{ data[0].description }}" name="description" id="description"
                   required placeholder="Краткое описание">
            <label for="description">Краткое описание</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" name="full_description" id="full_description"
                      placeholder="Полное описание">{{ data[0].full_description }}</textarea>
            <label for="full_description">Полное описание</label>
        </div>
        <div class="form-floating"><select id="photo" name="delete_photo"></select></div>
        {% set a = data[0].images.strip('"[').strip(']"').replace("'", "").replace(",", "").split()%}
        {% for i in a %}
        <input hidden="hidden" class="photo_for_select" data-imggg="{{ url_for('static', filename='img/'+i) }}" data-cameraman="{{ i }}">
        {% endfor %}
        <script src="{{url_for('static', filename='js/DynamicSelect1.js')}}"></script>
        <script>
            var photo_data = []
            photos = document.querySelectorAll('.photo_for_select')
            photos.forEach(el => {
                photo_data.push({
                    value: el.dataset.cameraman,
                    img: el.dataset.imggg,
                    imgWidth: '3.5em',
                    imgHeight: '3.5em'
                });
            });
            new DynamicSelect2('#photo', {
            columns: 3,
            width: '100%',
            dropdownWidth: '50em',
            data: photo_data,
        });
        </script>
        <label for="main_image">Главное изображение:</label>
        <input type="file" accept="image" name="main_image" id="main_image">
        <label for="images">Дополнительные изображения:</label>
        <input type="file" multiple="multiple" accept="image" name="images[]" id="images">
        </div>
        <button type="submit" style="font-size: 20px;" class="btn btn-outline-success">Принять изменения</button>
        <a style="font-size: 20px;" class="ms-2 btn btn-outline-primary" href="/account">Вернуться</a>
    </form>
    <script src="static/js/DynamicSelect.js"></script>
</div>
    <script>
        $('#product_to_change').on('click', function(){
            $(this).preventDefault
                $('#myForm').preventDefault
                functABC().then(response =>
                functDEF(response))
            });
        function functABC(){
            var data1 = $('#myForm').serialize();
            return $.ajax({
                    data : data1,
                    type : 'POST',
                    url : '/process_list',
                });
        }
        function functDEF(resp){
            $('#mainList').html(resp)
            $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
            }).on("input", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        });
        }
        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
            }).on("input", function () {
            this.style.height = 0;
            this.style.height = (this.scrollHeight) + "px";
        });
    </script>
    <script>
$(function() {
    $('#product_to_change').click();
});
    </script>
{% endblock %}