{% extends 'base.html' %}

{% macro render_tree(d) %}
    <div style="transition: all 1s;"
    {% if d != tree %}
    class="pre-animation"
    {% endif %}>
    {% for key, value in d.items(): %}
        <div>
        <input type="checkbox" class="cat_checkbox" id="cat{{ key.id }}"/>
        {% if value %}
        <label for="cat{{ key.id }}">{{ key.title }}</label>
        <i class="fa fa-plus fa-plusminus"></i>
        <br />
        {{ render_tree(value) }}
        {% else %}
        <label for="cat{{ key.id }}">{{ key.title }}</label> <br />
        {% endif %}
        </div>
    {% endfor %}
    </div>
{% endmacro %}

{% block title %}
<title>главная</title>
<link rel="stylesheet" href="static/css/card.css" />
<style>
  .none_vendors {display: none !important;}
  .none {display: none !important;}
  .cian_none {color: #afafaf}
  .cian_none:focus {
      color: #afafaf !important;
      border-color: #afafaf !important;
      box-shadow: 0 0 0 .25rem rgba(175,175,175,.25) !important;
      -webkit-box-shadow: 0 0 0 .25rem rgba(175,175,175,.25) !important;
  }
  .listing {
    max-width: 100%;
    width: 100%;
    padding-left: 1em;
    position: relative;
  }
  .filter_block {
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 0.1);
    max-width: 100%;
    float: left;
    background-color: #fff;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    height: auto;
    align-self: flex-start;
    top: 1em;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 12px;
  }
  .container_index {
    padding-top: 1em;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .filter_header {
    font-weight: 500;
    font-size: 140%;
  }
  .scrollable_checkboxes {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 13em;
  }
.scrollable_checkboxes input[type="checkbox"] {
  display: none;
}

label {
    padding: 6px;
    padding-right: 0px;
	cursor: pointer;
	font-weight: 400;
}

.scrollable_checkboxes input[type="checkbox"] + label:before {
  border: 1px solid #e4e9ed;
  content: "\00a0"; /* No break space */
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  width: 16px;
  padding: 0;
  margin-right: .7em;
  vertical-align: center;
}

.scrollable_checkboxes input[type="checkbox"]:checked + label:before {
  background: #6ba45c;
  color: #111;
  content: "\2714";	/* Checkmark*/
  text-align: center;
}

.scrollable_checkboxes input[type="checkbox"]:checked + label {
  text-shadow: 0 0 0.05px black;
}

.inner {
  transition: all 1s;
}

.pre-animation {
  opacity: 0;
  max-height: 0px;
  pointer-events: none;
}
.pad_left {
  padding-left: 10px;
  opacity:1;
  max-height: 300px;
}
.fa {
  cursor: pointer;
  transition: transform .75s
} /* adjust to your needs */
.rotate {transform: rotate(180deg)}
.heart-none {opacity:0}
.heart-visible {opacity: 1}
.fa-solid {
    animation: vis-heart .4s;
}
.fa-regular {
    animation: vis-heart-2 .4s;
}
.red {
  color: rgb(240, 0, 0) !important;
}
.fa-heart:hover {
    transform: scale(2);
    color: rgb(240, 0, 0);
}
@keyframes vis-heart {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1.6);
        }
}
@keyframes vis-heart-2 {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1.6);
        }
}
.fa-heart {
    z-index: 99999999 !important;
    cursor: pointer;
    color: rgba(60, 60, 60, 1);
    transition: transform 0.2s, opacity 0.3s, color 0.5s;
    transform: scale(1.6);
    position: absolute;
    top: 1em;
    right: 2em;
}
.modal-my-sizes {
    max-width: 60vw !important;
    max-height: 80vh !important;
}
.modal-dialog{
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
</style>
{% endblock %}

{% block body %}

<div class="container_index">
  <div class="container filter_block">
    <input id="inners_count" value="{{ inners }}" hidden="hidden">
    <p class="filter_header mb-2">Категории</p>
    <div class="scrollable_checkboxes" id="scrollable_checkboxes_cats">
      {{ render_tree(tree) }}
    </div>
    <p class="filter_header mt-2">Цена</p>
    <div class="priceForm form-group mb-4" style="float:left; display:flex; width:100%">
      <input class="form-control me-2" type="text" onkeypress="return isNumberKey(event)"
             placeholder="от" name="start" id="start">
      <input class="form-control" type="text" onkeypress="return isNumberKey(event)"
             placeholder="до" name="end" id="end">
    </div>
    <p class="filter_header">Продавец</p>
    <div class="scrollable_checkboxes mb-4" id="scrollable_checkboxes_vendors">
      {% for ven in vendors %}
      <input type="checkbox" id="ven{{ ven.id }}" class="cat_checkbox"/>
      {% if ven.title %}
      <label for="ven{{ ven.id }}">{{ ven.title }} </label> <br />
      {% else %}
      <label for="ven{{ ven.id }}">{{ ven.name + ' ' + ven.surname }}</label> <br />
      {% endif %}
      {% endfor %}
    </div>
    </div>
<div class="container listing">
  {% for i in range(data|length) %}
  <div class="listing_row">
    {% for j in range(data[i]|length) %}
    {% set el = data[i][j] %}
      {% if j == 0 %}
      <div class="containder first_in_row back_view">
      {% elif j == 1 %}
      <div class="containder second_in_row back_view">
      {% else %}
      <div class="containder third_in_row back_view">
      {% endif %}
    <div style="position:relative">
      {% if el.id in liked %}
      <i class="fa-solid fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
      <input hidden="hidden" type="checkbox" class="heart-checkbox" checked>
      {% else %}
      <i class="fa-regular fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
      <input hidden="hidden" type="checkbox" class="heart-checkbox">
      {% endif %}
    </div>    
      <div class="containder_header">
        <div class="containder_header_title">
          <img src="static/img/{{ el.main_image }}" class="element__img" />
        </div>
      </div>
      <div class="containder_text">
        <div class="containder_text__title">{{ el.title }}</div>
        <div class="containder_text__price">от {{ el.price }} руб.</div>
        <div class="containder_text__info">
          <div class="info">фылвофыворшфв</div>
          <div class="info">фылвофыворшфв</div>
          <div class="info">фылвофыворшфв</div>
        </div>
      </div>
  </div>
  {% endfor %}
  </div>
  {% endfor %}
</div>
</div>
    <script>
      $(".containder").on("mouseenter", function () {
        i = $('.fa-heart', $(this));
        i.toggleClass('heart-none heart-visible');

        i = $(".containder_text__info", $(this));
        i.toggleClass("info_visible");
        $(this).addClass('front_view');
        $(this).removeClass('back_view');
      });

      $(".containder").on("mouseleave", function () {
        i = $('.fa-heart', $(this));
        i.removeClass('red');
        i.toggleClass('heart-none heart-visible');

        i = $(".containder_text__info", $(this));
        i.toggleClass("info_visible");
        cont = $(this)
        cont.addClass('another_view')
        setTimeout(function () {
          cont.removeClass('front_view');
          cont.addClass('back_view');
          cont.removeClass('another_view')
        }, 400)
      });
    </script>
  <!--<div class="row row-cols-md-3 mb-3 text-center">
  {% for el in data %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm" id="prod{{ el.id }}">
          <div class="card-header py-3">
            <h2 class="my-0 fw-normal">{{ el.title }}</h2>
          </div>
          <div class="card-body">
            <div style="position:relative">
                {% if el.id in liked %}
                <i class="fa-solid fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
                <input hidden="hidden" type="checkbox" class="heart-checkbox" checked>
                {% else %}
                <i class="fa-regular fa-heart heart-none" data-like="{{ el.id }}" data-price="{{ el.price }}"></i>
                <input hidden="hidden" type="checkbox" class="heart-checkbox">
                {% endif %}
                <a href="/product/{{ el.id }}"><img class="img-fluid" src="static/img/{{ el.main_image }}" alt="{{ el.main_image }}"></a>
            </div>
            <ul class="list-unstyled mt-3 mb-4">
                {% if el.price != -1 %}
              <li>от {{ el.price }} руб.</li>
              <li data-vendors="{{ el.vendors }}" data-cats="{{ el.cat }}" data-price="{{ el.price }}" class="vendors_li">
                {% if el.main_logo %}
              <a href="/cart"> <img width="30" height="30" src="/static/img/{{ el.main_logo }}"
                                    alt="{{ el.main_logo }}"></a>
                {% endif %}
                Продавец {{ el.vendor }}</li>
                {% endif %}
              <li>
                {% if el.logos %}
                {% set b = el.logos.strip('"[').strip(']"').replace("'", "").split() %}
                {% for i in b %}
                {% set logo = i.strip(',') %}
                <a href="/product/{{ el.id }}"><img src="/static/img/{{ logo }}" alt="{{ logo }}" width="30" height="30"></a>
                {% endfor %}
                {% endif %}
              </li>
              <li>{{ el.description }}</li>
            </ul>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>-->
<button id="btn_hidden" hidden="hidden" type="button" data-bs-toggle="modal" data-bs-target="#myModal"></button>
<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-my-sizes">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Реклама</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  {% if ad.format == 'video' %}
                  <video controls autoplay muted style="max-width: 100%; max-height: 80vh;">
                    <source src="static/ads/{{ ad.filename }}">
                  </video>
                  {% else %}
                  <img src="static/ads/{{ ad.filename }}" style="max-width: 100%; max-height: 80vh;">
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
<input hidden="hidden" value="{{ all_prices }}" id="prices_hidden">
<script>
  function isNumberKey(evt) {
  var charCode = (evt.which) ? evt.which : evt.keyCode
  if (charCode > 31 && (charCode < 48 || charCode > 57))
    return false;
  return true;
}
//$(function() {
//    $('#btn_hidden').click();
//});
</script>
<script>
    $(document).on("click", ".fa-plusminus", function() {
        li = $(this).closest('div')
        child_ul = li.children('div')
        child_ul.toggleClass('pre-animation')
        child_ul.toggleClass('pad_left')
        $(this).toggleClass('fa-plus fa-minus rotate')
  });
</script>
<script>
  $(document).on("click", ".cat_checkbox", function() {
        var cats = [];
        $('#scrollable_checkboxes_cats input:checked').each(function() {
            cats.push(Number(this.id.slice(3)));
        });
        var vend = [];
        $('#scrollable_checkboxes_vendors input:checked').each(function() {
            vend.push(Number(this.id.slice(3)));
        });
        $('.vendors_li').each(function() {
          vendors = this.getAttribute('data-vendors').slice(1, -1).split(', ');
          categories = this.getAttribute('data-cats').split(' ');
          set1 = new Set(vendors);
          set2 = new Set(vend);
          set3 = new Set(categories);
          set4 = new Set(cats);
          intersection = [...set1].filter(x => set2.has(Number(x)));
          intersection2 = [...set3].filter(x => set4.has(Number(x)));
          if ((intersection.length > 0 || vend.length == 0) && (intersection2.length > 0 || cats.length == 0)) {
              this.closest('.col').classList.remove("none_vendors");
          }
          else {
              this.closest('.col').classList.add("none_vendors");
          }
        var event = new Event('input');
        $(".priceForm input")[0].dispatchEvent(event);
      });
  });
</script>
<script>
  $(".priceForm input").on("input", function() {
      start = Number($("#start").val());
      end = Number($("#end").val());
      if (!end) end = 9999999999;
      prices = $('#prices_hidden').val()
      prices1 = prices.slice(1, -1).split(', ');
      prices2 = prices.slice(1, -1).split(', ');
      prices1.push(end)
      prices2.push(start)
      if ((Math.max.apply(null, prices2) == start) || (Math.min.apply(null, prices1) == end) || (start > end)) {
          $(".priceForm input").addClass('cian_none')
          return false
      }
      else {
          $(".priceForm input").removeClass('cian_none')
      }
      $('.vendors_li').each(function() {
          price = Number(this.getAttribute('data-price'));
          if ((start > price) || (price > end)) {
              this.closest('.col').classList.add("none");
          }
          else if ((start <= price) && (price <= end)) {
              this.closest('.col').classList.remove("none");
          }
      });
  });
</script>
<script>
$('.fa-heart').on('click', function(){
  parent = $(this).closest('div')
  checkbox = $('.heart-checkbox', parent)
  if (checkbox.is(':checked')){
	  checkbox.prop('checked', false);
    $.ajax({
    data : {  liked_id: $(this).data('like'), 
              liked_price: $(this).data('price'),
              action: "dislike"},
    type : 'POST',
    url : '/kek'
  });
} else {
	checkbox.prop('checked', true);
  $(this).addClass('red');
  $.ajax({
    data : {  liked_id: $(this).data('like'), 
              liked_price: $(this).data('price'),
              action: "like"},
    type : 'POST',
    url : '/kek'
  });
}
$(this).toggleClass('fa-solid fa-regular');
count_liked()
})
</script>
{% endblock %}
