{% extends 'base.html' %}

{% block title %}
<title>Legit check</title>
<style>
   .targetff {
    font-size: 15pt;
   }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <p class="targetff"><img src="static/img/Legit+CircleUpdated-black.jpg" alt="Иллюстрация"
                             align="left" vspace="5" hspace="5" width="30%" height="30%">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis imperdiet massa tincidunt nunc pulvinar. Justo laoreet sit amet cursus sit amet dictum sit. Facilisi etiam dignissim diam quis enim lobortis. Tristique nulla aliquet enim tortor at auctor urna nunc. At consectetur lorem donec massa sapien. Dictum non consectetur a erat nam at lectus. Mattis enim ut tellus elementum sagittis vitae. Sodales ut etiam sit amet nisl purus. Rhoncus aenean vel elit scelerisque mauris pellentesque. At consectetur lorem donec massa sapien faucibus. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Pellentesque dignissim enim sit amet venenatis urna cursus eget.
    </p>

    <a class="me-2 btn btn-outline-primary" href="/become_a_seller">Стать продавцом</a>
    <a class="me-2 btn btn-outline-primary" href="/become_a_seller">Личный кабинет</a>
</div><br><br>

    {% endblock %}