        <div class="form-floating">
            <input type="text" class="form-control" value="{{ data.title }}"
                   name="title" id="title" placeholder="Название" required>
            <label for="title">Название</label>
        </div>
        <div id="example-select"></div>
        {% for el in cats %}
        <input class="options_for_select" hidden="hidden" id="{{ el.id }}" value="{{ el.title }}">
        {% endfor %}
        {% for el in selected %}
        <input class="options_for_select2" hidden="hidden" value="{{ el }}">
        {% endfor %}
        <script src="static/js/MyChoices5.js"></script>
        <div class="form-floating">
            <input type="text" class="form-control" value="{{ data.description }}" name="description" id="description"
                   required placeholder="Краткое описание">
            <label for="description">Краткое описание</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" name="full_description" id="full_description"
                      placeholder="Полное описание">{{ data.full_description }}</textarea>
            <label for="full_description">Полное описание</label>
        </div>
        <select id="photo" name="delete_photo"></select>
        {% set a = data .images.strip('"[').strip(']"').replace("'", "").replace(",", "").split()%}
        {% for i in a %}
        <input hidden="hidden" class="photo_for_select" data-imggg="{{ url_for('static', filename='img/'+i) }}" data-cameraman="{{ i }}">
        {% endfor %}
        <script src="{{url_for('static', filename='js/DynamicSelect1.js')}}"></script>
        <script>
            var photo_data = []
            photos = document.querySelectorAll('.photo_for_select')
            photos.forEach(el => {
                photo_data.push({
                    value: el.dataset.cameraman,
                    img: el.dataset.imggg,
                    imgWidth: '3.5em',
                    imgHeight: '3.5em'
                });
            });
            new DynamicSelect2('#photo', {
            columns: 3,
            width: '100%',
            dropdownWidth: '50em',
            data: photo_data,
        });
        </script>
        <label for="main_image">Главное изображение:</label>
        <input type="file" accept="image" name="main_image" id="main_image">
        <label for="images">Дополнительные изображения:</label>
        <input type="file" multiple="multiple" accept="image" name="images[]" id="images">