{% extends 'base.html' %}

{% block title %}
<title> {{ product.title }} </title>
<style>
  .none {
    display: none !important;
  }

  .product-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5em;
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    max-width: 100%;
    overflow: hidden;
  }

  .carousel {
    width: 100%;
    display: grid;
  }

  .product-info {
    width: 100%;
    padding: 1.5em;
  }

  .product-title {
    margin-bottom: .5em;
  }

  .product-description {
    margin-bottom: 1.5em;
  }

  .carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
  }

  .carousel-thumbnails {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    gap: .5em 2.5em;
    padding-bottom: 1em;
    padding-right: 5px;
    padding-left: 5px;
  }

  .thumbnail {
    margin-bottom: .5em;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: all .3s;
  }

  .double_span_button {
    overflow: hidden;
    position: relative;
    padding: 0% !important;
    transition: all .2s;
  }

  .slider {
    position: absolute;
    top: 0px;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    max-width: 100%;
    pointer-events: none;
    transition: 0.5s cubic-bezier(0.50, -0.600, 0.200, 1.6);
  }

  .opacity_span {
    opacity: 0;
  }

  .span1, .span2 {
    color: #198754;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .2s;
  }

  .thumbnail:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .25) !important;
  }

  .main-image {
    width: 100%;
    border-radius: 12px;
    height: 35em;
    object-fit: cover;
  }

  .control-button {
    border: none !important;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.25);
    margin: .4em;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    background-color: rgba(0, 0, 0, 0);
    transition: all .2s ease-out;
  }

  .control-button:hover {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.15);
  }

  .cart_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 1em;
    height: 4em;
  }

  .fa-cart-shopping {
    transform: scale(1.5);
  }
</style>
<script src="{{ url_for('static', filename='js/virtual-select.js') }}"></script>
<link href="{{ url_for('static', filename='css/virtual-select.min.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/MyChoices2.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
{% set a = product.images.strip('"[').strip(']"').replace("'", "").replace(",", "").split()[::-1] %}
<div class="product-container">
  <div class="carousel">
    <div style="position: relative; margin-bottom: 1.5em">
      <img src="{{ url_for('static', filename='img/' + product.main_image) }}" class="main-image">
      <div class="carousel-controls">
        <button class="prev-button control-button"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next-button control-button"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="carousel-thumbnails">
      <img src="{{ url_for('static', filename='img/' + product.main_image) }}" data-index="{{ 0 }}"
           class="thumbnail" alt="Product Image {{ index }}">
      {% for index in range(a | length) %}
      {% if a[index] != product.main_image %}
      <img src="{{ url_for('static', filename='img/' + a[index]) }}" data-index="{{ index+1 }}"
           class="thumbnail" alt="Product Image {{ index }}">
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="product-info">
    <h2 class="product-title">{{ product.title }}</h2>
    <h4 id="price" style="margin-bottom: 0.6em">{{ product.price }} руб.</h4>
    {% autoescape false %}
    {% if product.full_description %}
    <p class="product-description">{{ product.full_description | replace('\n','<br>') }}</p>
    {% else %}
    <p class="product-description">{{ product.description | replace('\n','<br>') }}</p>
    {% endif %}
    {% endautoescape %}
    <div id="example-select" data-search="false"></div>
    <br><br>
    {% for el in vendors %}
    {% if el.title %}
    <input class="options_for_select" hidden="hidden" id="{{ el.id }}" value="{{ el.title }}">
    {% else %}
    <input class="options_for_select" hidden="hidden" id="{{ el.id }}" value="{{ el.name + ' ' + el.surname }}">
    {% endif %}
    {% endfor %}
    <script src="{{ url_for('static', filename='js/MyChoices4.js') }}"></script>
    <div class="cart_buttons">
      {% if product.id not in liked %}
      <button id="like" data-like="like" type="button" class="double_span_button btn btn-outline-success">
        <div class="slider">
          <span class="span1"><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="span2">В избранное</span>
        </div>
      </button>
      {% else %}
      <button id="like" data-like="dislike" type="button" class="double_span_button btn btn-outline-success">
        <div class="slider">
          <span class="span1"><i class="fa-solid fa-cart-shopping"></i></span>
          <span class="span2">Удалить из избранного</span>
        </div>
      </button>
      {% endif %}
      <button type="button" id="go_to_cart" class="btn btn-outline-success">Купить</button>
    </div>
    {% for key, value in ven_prices %}
    <input hidden="hidden" value="{{ value }}" id="vp{{ key }}">
    {% endfor %}
  </div>
</div>
<script>
  button = document.querySelector(".double_span_button");
  slider = document.querySelector(".slider");
  span1 = document.querySelector(".span1");
  span2 = document.querySelector(".span2");

  slider.style.width = button.clientWidth + "px";
  span1.style.width = button.clientWidth + "px";
  span1.style.height = button.clientHeight + "px";
  span2.style.width = button.clientWidth + "px";
  span2.style.height = button.clientHeight + "px";

  button.onmouseover = function () {
    slider.style.width = button.clientWidth + "px";
    span1.style.width = button.clientWidth + "px";
    span1.style.height = button.clientHeight + "px";
    span2.style.width = button.clientWidth + "px";
    span2.style.height = button.clientHeight + "px";
    slider.style.top = "-" + span1.clientHeight + "px";
  }
  button.onmouseout = function () {
    slider.style.width = button.clientWidth + "px";
    span1.style.width = button.clientWidth + "px";
    span1.style.height = button.clientHeight + "px";
    span2.style.width = button.clientWidth + "px";
    span2.style.height = button.clientHeight + "px";
    slider.style.top = "0px";
  }
</script>
<script>
  $(function () {
    $('#example-select').change();
  });
</script>
<script>
  const mainImage = $('.main-image');
  let images = [];

  $('.thumbnail').each(function () {
    images.push($(this).attr('src'));
  });

  mainImage.attr('src', images[0]);

  currentIndex = 0

  const prevButton = $('.prev-button');
  const nextButton = $('.next-button');

  prevButton.on('click', function () {
    currentIndex = (currentIndex - 1 + images.length) % images.length;
    mainImage.attr('src', images[currentIndex]);
  });

  nextButton.on('click', function () {
    currentIndex = (currentIndex + 1) % images.length;
    mainImage.attr('src', images[currentIndex]);
  });
  if (images.length == 1) {
    $('.control-button').addClass('none')
    $('.carousel-thumbnails').addClass('none')
  }
</script>
<script>
  $('#example-select').on('change', function () {
    vendor = $(this).val();
    price = $('#vp' + vendor).val()
    if (price) {
      $('#price').text(price + ' руб.')
    } else {
      $('#price').text('')
    }
  });
  $(document).on("click", '.thumbnail', function () {
    index = $(this).data('index')
    mainImage.attr('src', images[index]);
    currentIndex = index;
  });
  $(document).on("click", '#go_to_cart', function () {
    window.location.href = "{{ url_for('catalog.cart') }}";
  });
  $(document).on("click", '#like', function () {
    $.ajax({
      data: {
        liked_id: "{{ product.id }}",
        liked_price: $('#price').text(),
        action: $(this).data('like')
      },
      type: 'POST',
      url: "{{ url_for('catalog.toggle_favorite') }}"
    });
    if ($(this).data("like") == "like") {
      $(this).data("like", "dislike")
      span = $('.span2', $(this))
      span.addClass('opacity_span')
      setTimeout(function () {
        span.text('Удалить из избранного')
        span.removeClass('opacity_span')
      }, 200)
    } else {
      $(this).data("like", "like")
      span = $('.span2', $(this))
      span.addClass('opacity_span')
      setTimeout(function () {
        span.text('В избранное')
        span.removeClass('opacity_span')
      }, 200)
    }

    count_liked()
  });
  $(document).on("mouseenter", '.vscomp-toggle-button', function () {
    $(this).css("background-color", "#198754");
    $('.vscomp-value').css("color", "#fff");
    $('.vscomp-arrow').toggleClass('vscomp-arrow changed')
  });
  $(document).on("mouseleave", '.vscomp-toggle-button', function () {
    $(this).css("background-color", "rgba(0,0,0,0)")
    $('.vscomp-value').css("color", "#198754");
    $('.changed').toggleClass('vscomp-arrow changed')
  });
  $(document).on("mouseenter", '.double_span_button', function () {
    span1_ = $('.span1', $(this))
    span2_ = $('.span2', $(this))
    span1_.css('color', '#fff')
    span2_.css('color', '#fff')

  });
  $(document).on("mouseleave", '.double_span_button', function () {
    span1_ = $('.span1', $(this))
    span2_ = $('.span2', $(this))
    span1_.css('color', '#198754')
    span2_.css('color', '#198754')

  });
</script>
{% endblock %}
