{% extends 'base.html' %}

{% block title %}
<title>Регистрация</title>
{% endblock %}

{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/pages/auth.css') }}"
>
{% endblock %}

{% block body %}
<div class="auth-page">
  <h1>Регистрация</h1>

  <div class="auth-page__inner">
    <form
      class="auth-form"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          placeholder="Имя"
          required
        >
        <label for="name">
          Имя
        </label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          name="surname"
          id="surname"
          placeholder="Фамилия"
          required
        >
        <label for="surname">
          Фамилия
        </label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          name="phone"
          id="phone"
          placeholder="Номер телефона"
          required
        >
        <label for="phone">
          Номер телефона
        </label>
      </div>

      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          name="email"
          id="email"
          placeholder="name@example.com"
          required
        >
        <label for="email">
          Адрес электронной почты
        </label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Пароль"
          required
        >
        <label for="password">
          Пароль
        </label>
      </div>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          placeholder="Повторите пароль"
          required
        >
        <label for="password2">
          Повторите пароль
        </label>
      </div>

      <div class="auth-form__buttons">
        <button
          type="submit"
          class="btn btn-outline-success"
        >
          Зарегистрироваться
        </button>

        <button
          type="reset"
          class="btn btn-outline-danger"
        >
          Сбросить
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script
  src="{{ url_for('static', filename='js/jquery.maskedinput.min.js') }}"
></script>
<script
  src="{{ url_for('static', filename='js/pages/register.js') }}"
></script>
{% endblock %}
