<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="email.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;}
          .flex-try {
        flex-direction: column;
        display: flex;
        width: 60%;
        background-color: lightgray;
        max-width: 100%;
        height: 100%;
        justify-content: space-between;
        margin-top: 10%;
        align-items: center;
        height: 500px;
        padding: 20px;
    }
    * {
        font-size: 30px;
    }
    </style>
</head>
<body>
    <div class="flex-try">
        <div>здарова вот ссылка на верификацию биссмилля</div>
        <div>
            <a href="{{ confirm_url }}">
                DANZA KUDURO
            </a>
        </div>
    </div>
</body>
</html>
</body>
</html>